.cat-primary{
    background-color: var(--bg-cat);
}

.cat-detaque{
    background-color: var(--bg-cat-contrast);
}

.cat-light{
    background-color: var(--bg-cat-light);
}

.dog-primary{
    background-color: var(--bg-dog);
}

.dog-detaque{
    background-color: var(--bg-dog-contrast);
}

.dog-light{
    background-color: var(--bg-dog-light);
}

.home-primary{
    background-image: var(--bg-home);
}

.bg-white{
    background-color: var(--text-white);
}
.bg-primary{
    background-color: var(--text-primary);
}