*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
body.dark{
    background-color: black;
    color: white;
}
#theme{
    display: none;
}

#control_theme{
    left: 20px;
    top: 20px;
    position: absolute;
    border-radius: 20px;
    width: 60px;
    height: 30px;
    background-color: #ddd;
}
.dark #control_theme{
    background-color: #333;
}
#theme:checked ~ #control_theme::after{
    left: 30px;
}
#control_theme::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    display: block;
    width: 26px;
    height: 26px;
    background-color: #ccc;
    border-radius: 50%;
    transition: all .3s;
}

/* 
ver se o usuário está com o tema dark ativo
@media screen and (prefers-color-scheme: dark){
    body{
        background-color: black;
        color: white;
    }
} */