*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechadura{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
    padding: 100px 20px 200px 20px;
    height: auto;
    background: repeating-linear-gradient(
        90deg,
        rgb(31, 31, 31),
        rgb(31, 31, 31) 2px,
        black 2px,
        black 3px
    );
    border-radius: 30px;
    gap: 10px;
    border: 10px solid rgb(31, 31, 31);
    border-top: 20px solid rgb(212, 212, 212);
    border-bottom: 10px solid rgb(14, 14, 14);
}

.botao{
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: all .2s linear;
    font-weight: bold;
}
.botao.click{
    box-shadow: 0px 0px 10px white;
}