#principal{
    margin: 0px auto;
    min-height: 711px;
    width: 400px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ddd;
}

#principal > *{
    margin-top: 20px;
}
#divImagem{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 2px;
    height: 400px;
    counter-reset: counter-images 0;
    align-content: start;
}
#divImagem > div{
    width: 132px;
    height: 132px;
    border-radius: 10px;
    overflow: hidden;
}

#divImagem > div > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#divImagem > div:nth-child(n + 10){
    counter-increment: counter-images 1;
}
#divImagem > div:last-child{
    display: block;
}
#divImagem > div:nth-child(n + 10):last-of-type::after{
    content: '+ 'counter(counter-images, decimal);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 132px;
    height: 132px;
    border-radius: 10px;
    background-color: #00000099;
    visibility: visible;
}
/* #divImagem > div:nth-child(10){
    bottom: 0px;
    right: 0px;
    position: absolute;
    visibility: hidden;
}

#divImagem > div:nth-child(10)::after{
    content: var(--i);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    visibility: visible;
} */