*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.a{
    position: relative;
}

.foto{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}

.base{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: rotate 60s linear infinite;
}

.element{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: purple;
    border-radius: 50%;
    animation: rotate 60s linear infinite reverse,
                pulsar 0.5s var(--t) linear infinite alternate;
}

.base:has(.element:hover){
    animation-play-state: paused;
}
.base:has(.element:hover) *{
    animation-play-state: paused, running;
}
.element:hover{
    animation-play-state: paused, paused !important;
}

.element:hover img{
    opacity: 0;
}
@keyframes rotate {
    100%{
        rotate: 1turn;
    }
}
@keyframes pulsar {
    100%{
        scale: 1.1;
    }
}

.element:nth-child(1){
    --t: -.1s;
    left: 10px;
    top: 10px;
}
.element:nth-child(3){
    --t: -.2s;
    right: 10px;
    top: 10px;
}
.element:nth-child(4){
    --t: -.3s;
    right: 10px;
    bottom: 10px;
}
.element:nth-child(5){
    --t: -.4s;
    left: 10px;
    bottom: 10px;
}
.element:nth-child(2){
    --t: -.5s;
    left: calc(50% - 35px);
    top: -35px;
}
.element:nth-child(6){
    --t: -.6s;
    left: calc(50% - 35px);
    bottom: -35px;
}
.element:nth-child(7){
    --t: -.7s;
    left: -35px;
    bottom: calc(50% - 35px);
}
.element:nth-child(8){
    --t: -.8s;
    right: -35px;
    bottom: calc(50% - 35px);
}

img{
    position: absolute;
    border-radius: inherit;
    width: 100%;
    aspect-ratio: 1;
    transition: opacity .5s linear;
    background-color: inherit;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
}