*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bandeira{
    position: relative;
    width: 390px;
    height: 220px;
}

.circulo{
    border-radius: 50%;
}
.maior{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    background-color: cadetblue;
    overflow: hidden;
}
.menor{
    position: absolute;
    width: 90px;
    height: 90px;
}
.red{
    background-color: #e7042f;
}
.blue{
    background-color: #00307c;
}
.circulo.red{
    left: 4px;
    top: 40%;
    transform: translateY(-50%);
}

.circulo.blue{
    right: 4px;
    top: 60%;
    transform: translateY(-50%);
}
.quadrado{
    width: 120%;
    height: 50%;
    
}
.quadrado.red, .quadrado.blue{
    flex: none ;
    
}
.quadrado.red{
    transform-origin: 50% 100%;
    transform: rotate(16deg);
}

.quadrado.blue{
    transform-origin: 50% 0%;
    transform: rotate(16deg);
}
.base-linhas{
    display: flex;
    position: absolute;
    width: 90px;
    height: 90px;
}

.top{
    top: 0px;
}
.bottom{
    bottom: 0px;
}
.left .linha{
    margin-left: 5px;
}
.right .linha{
    margin-right: 5px;
}
.left{
    justify-content: end;
    align-items: center;
    left: 0px;
    transform-origin: 100% center;
}
.right{
    transform-origin: 0% center;
    right: 0px;
}
.top.left, .bottom.right{
    transform: rotate(35deg);
}
.top.right, .bottom.left{
    transform: rotate(-35deg);
}
.linha{
    position: relative;
    width: 15px;
    height: 100%;
    background-color: black;
}
.linha.b-centro::after{
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 10%;
    top: 50%;
    transform: translate(-5%,-50%);
    background-color: white;
}