* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 30px;
  }
  
  body{
    height: 200vh;
  }
  .kanban {
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: 10px;
    padding: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: cadetblue;
    min-width: 270px;
    border-radius: 5px;
  }
  
.item {
  width: 250px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.item p{
  font-size: 16px;
}
.dragging{
  opacity: 0;
  cursor: move;
}
.drag_image{
  display: none;
  pointer-events: none;
  position: absolute;
  transform: rotate(10deg);
  z-index: 10;
}
